*.pyc

.gradle
build

#Grabbed from John S's etc repo
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.class
junitvmwatcher*.properties

# CDT-specific
.cproject

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

# Vim
.*.sw?
.sw?

# Object files
*.o
*.obj

# Libs
*.lib
*.so
*.dll
*.a

# Python
*.py[cod]
*.egg-info
__pycache__

# Chef
.chef/
!.chef/knife.rb

# IntelliJ
.idea
*.iml
/out

# VSCode
.vscode/

# Node.js/NPM
package-lock.json
